<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="leanft">
      <section name="report" type="HP.LFT.Report.Configuration.ReportConfigSection, HP.LFT.Report" />
      <section name="sdk" type="HP.LFT.SDK.Configuration.SDKConfigSection, HP.LFT.SDK" />
    </sectionGroup>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BAF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                   </configSections>

<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data><userSettings>
    <BAF.Properties.Settings>
      <setting name="UseRemoteGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Remote_VDISE01071" serializeAs="String">
        <value>http://10.60.221.222:4444/wd/hub</value>
      </setting>
      <setting name="Remote_VDISE01065" serializeAs="String">
        <value>http://10.60.218.54:4444/wd/hub</value>
      </setting>
      <setting name="Remote_SRV13079" serializeAs="String">
        <value>http://10.64.246.48:4444/wd/hub</value>
      </setting>
      <setting name="UseVideoRecording" serializeAs="String">
        <value>False</value>
      </setting>
    </BAF.Properties.Settings>
  </userSettings>
</configuration>
